IN THIS CODE. I MADE AN ANIME RECOMMENDATION SYSTEM..ON THE BASIS OF THE DATA GIVEN IN THE DATASET.

NOTE:- I REDUCED THE NO. OF ROWS IN MY DATASET DUE TO ENOUGH SPACE. BUT YOU CAN USE MY CODE AND MAKE IT TO WORK ON 21960 ROWS COMPLETELY..

 IMPORTED ALL THE IMPORTANT LIBRARIES

In [67]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as mp
import seaborn as sn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

CONVERTED THE CSV INTO DATAFRAME

In [68]:
df=pd.read_csv('animess.csv')

In [69]:
df=pd.DataFrame(df)

In [70]:
df.shape

(21460, 28)

In [71]:
pd.set_option('display.max_columns',28)
df.head(3)

,ID,Title,Synonyms,Japanese,English,Synopsis,Type,Episodes,Status,Start_Aired,End_Aired,Premiered,Broadcast,Producers,Licensors,Studios,Source,Genres,Themes,Demographics,Duration_Minutes,Rating,Score,Scored_Users,Ranked,Popularity,Members,Favorites
0,16498,Shingeki no Kyojin,"AoT, SnK",進撃の巨人,Attack on Titan,"Centuries ago, mankind was slaughtered to near...",TV,25.0,Finished Airing,"Apr 7, 2013","Sep 29, 2013",Spring 2013,Sundays at 0158 (JST),"Production I.G, Dentsu, Mainichi Broadcasting ...",Funimation,Wit Studio,Manga,"Action, Drama","Gore, Military, Survival",Shounen,24.0,R - 17+ (violence & profanity),8.531,519803.0,1002.0,1,3524109,155695
1,1535,Death Note,DN,デスノート,Death Note,"Brutal murders, petty thefts, and senseless vi...",TV,37.0,Finished Airing,"Oct 4, 2006","Jun 27, 2007",Fall 2006,Wednesdays at 0056 (JST),"VAP, Konami, Ashi Productions, Nippon Televisi...",VIZ Media,Madhouse,Manga,"Supernatural, Suspense",Psychological,Shounen,23.0,R - 17+ (violence & profanity),8.621,485487.0,732.0,2,3504535,159701
2,5114,Fullmetal Alchemist: Brotherhood,"Hagane no Renkinjutsushi Fullmetal Alchemist, ...",鋼の錬金術師 FULLMETAL ALCHEMIST,Fullmetal Alchemist Brotherhood,After a horrific alchemy experiment goes wrong...,TV,64.0,Finished Airing,"Apr 5, 2009","Jul 4, 2010",Spring 2009,Sundays at 1700 (JST),"Aniplex, Square Enix, Mainichi Broadcasting Sy...","Funimation, Aniplex of America",Bones,Manga,"Action, Adventure, Drama, Fantasy",Military,Shounen,24.0,R - 17+ (violence & profanity),9.131,900398.0,12.0,3,2978455,207772

CHECKED ANY NULL VALUES PRESENT IN IT

In [72]:
df.shape

(21460, 28)

In [73]:
df.isnull().sum()

ID                     0
Title                  0
Synonyms               0
Japanese               0
English                0
Synopsis               0
Type                   0
Episodes             547
Status                 0
Start_Aired            0
End_Aired              0
Premiered              0
Broadcast              0
Producers              0
Licensors              0
Studios                0
Source                 0
Genres                 0
Themes                 0
Demographics           0
Duration_Minutes     599
Rating                 0
Score               6898
Scored_Users        6898
Ranked              1924
Popularity             0
Members                0
Favorites              0
dtype: int64

STATISTICAL MEASURE OF OUR DATASET

In [74]:
df.describe()

,ID,Episodes,Duration_Minutes,Score,Scored_Users,Ranked,Popularity,Members,Favorites
count,21460.000000,20913.000000,20861.000000,14562.000000,14562.000000,19536.000000,21460.000000,2.146000e+04,21460.000000
mean,26458.575582,13.272892,23.934135,6.421724,26507.173809,97795.212019,10743.103681,3.926596e+04,462.214865
std,17100.477121,48.792326,24.676538,0.910469,84989.501599,56485.384273,6204.685188,1.566359e+05,4411.931536
min,1.000000,1.000000,1.000000,1.841000,101.000000,12.000000,1.000000,6.000000e+00,0.000000
25%,8454.750000,1.000000,5.000000,5.791000,418.000000,48879.500000,5369.750000,2.910000e+02,0.000000
50%,31004.500000,2.000000,22.000000,6.431000,1876.500000,97777.000000,10741.500000,1.582500e+03,2.000000
75%,40495.250000,12.000000,26.000000,7.081000,11406.500000,146714.500000,16119.250000,1.158550e+04,23.000000
max,53094.000000,3057.000000,168.000000,9.131000,997243.000000,195632.000000,21490.000000,3.524109e+06,207772.000000

CHECKED IF ANY DUPLICATES IS PRESENT IN OUR DATASET

In [76]:
df.any().duplicated()

ID                  False
Title                True
Synonyms             True
Japanese             True
English              True
Synopsis             True
Type                 True
Episodes             True
Status               True
Start_Aired          True
End_Aired            True
Premiered            True
Broadcast            True
Producers            True
Licensors            True
Studios              True
Source               True
Genres               True
Themes               True
Demographics         True
Duration_Minutes     True
Rating               True
Score                True
Scored_Users         True
Ranked               True
Popularity           True
Members              True
Favorites            True
dtype: bool

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13030 entries, 0 to 17988
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                13030 non-null  int64
 1   Title             13030 non-null  object
 2   Synonyms          13030 non-null  object
 3   Japanese          13030 non-null  object
 4   English           13030 non-null  object
 5   Synopsis          13030 non-null  object
 6   Type              13030 non-null  object
 7   Episodes          13030 non-null  float64
 8   Status            13030 non-null  object
 9   Start_Aired       13030 non-null  object
 10  End_Aired         13030 non-null  object
 11  Premiered         13030 non-null  object
 12  Broadcast         13030 non-null  object
 13  Producers         13030 non-null  object
 14  Licensors         13030 non-null  object
 15  Studios           13030 non-null  object
 16  Source            13030 non-null  object
 17  Genres            13030 non-null  object
 18  Themes            13030 non-null  object
 19  Demographics      13030 non-null  object
 20  Duration_Minutes  13030 non-null  float64
 21  Rating            13030 non-null  object
 22  Score             13030 non-null  float64
 23  Scored_Users      13030 non-null  float64
 24  Ranked            13030 non-null  float64
 25  Popularity        13030 non-null  int64
 26  Members           13030 non-null  int64
 27  Favorites         13030 non-null  int64
dtypes: float64(5), int64(4), object(19)
memory usage: 2.9+ MB

In [78]:
df['Score'].dtype

dtype('float64')

In [79]:
df.columns

Index(['ID', 'Title', 'Synonyms', 'Japanese', 'English', 'Synopsis', 'Type',
       'Episodes', 'Status', 'Start_Aired', 'End_Aired', 'Premiered',
       'Broadcast', 'Producers', 'Licensors', 'Studios', 'Source', 'Genres',
       'Themes', 'Demographics', 'Duration_Minutes', 'Rating', 'Score',
       'Scored_Users', 'Ranked', 'Popularity', 'Members', 'Favorites'],
      dtype='object')

In [80]:
df.head(3)

,ID,Title,Synonyms,Japanese,English,Synopsis,Type,Episodes,Status,Start_Aired,End_Aired,Premiered,Broadcast,Producers,Licensors,Studios,Source,Genres,Themes,Demographics,Duration_Minutes,Rating,Score,Scored_Users,Ranked,Popularity,Members,Favorites
0,16498,Shingeki no Kyojin,"AoT, SnK",進撃の巨人,Attack on Titan,"Centuries ago, mankind was slaughtered to near...",TV,25.0,Finished Airing,"Apr 7, 2013","Sep 29, 2013",Spring 2013,Sundays at 0158 (JST),"Production I.G, Dentsu, Mainichi Broadcasting ...",Funimation,Wit Studio,Manga,"Action, Drama","Gore, Military, Survival",Shounen,24.0,R - 17+ (violence & profanity),8.531,519803.0,1002.0,1,3524109,155695
1,1535,Death Note,DN,デスノート,Death Note,"Brutal murders, petty thefts, and senseless vi...",TV,37.0,Finished Airing,"Oct 4, 2006","Jun 27, 2007",Fall 2006,Wednesdays at 0056 (JST),"VAP, Konami, Ashi Productions, Nippon Televisi...",VIZ Media,Madhouse,Manga,"Supernatural, Suspense",Psychological,Shounen,23.0,R - 17+ (violence & profanity),8.621,485487.0,732.0,2,3504535,159701
2,5114,Fullmetal Alchemist: Brotherhood,"Hagane no Renkinjutsushi Fullmetal Alchemist, ...",鋼の錬金術師 FULLMETAL ALCHEMIST,Fullmetal Alchemist Brotherhood,After a horrific alchemy experiment goes wrong...,TV,64.0,Finished Airing,"Apr 5, 2009","Jul 4, 2010",Spring 2009,Sundays at 1700 (JST),"Aniplex, Square Enix, Mainichi Broadcasting Sy...","Funimation, Aniplex of America",Bones,Manga,"Action, Adventure, Drama, Fantasy",Military,Shounen,24.0,R - 17+ (violence & profanity),9.131,900398.0,12.0,3,2978455,207772

AS MUCH I CAN SEE . AS AN ANIME FAN IF I LIKE THE ANIME WE ARE NOT GOING TO SEE ALL THESE THING LIKE SCORES BY THE USERS etc...
SO I DROP THOSE COLUMNS ACCORDING TO MY OPININON.

In [81]:
df.drop(['Title', 'Synonyms', 'Japanese','Start_Aired', 'End_Aired','Broadcast','Licensors','Source','Themes','Duration_Minutes','Scored_Users', 'Ranked','Members', 'Favorites','Popularity'],axis=1,inplace=True)

In [82]:
df.shape

(13030, 13)

In [83]:
df.head(3)

,ID,English,Synopsis,Type,Episodes,Status,Premiered,Producers,Studios,Genres,Demographics,Rating,Score
0,16498,Attack on Titan,"Centuries ago, mankind was slaughtered to near...",TV,25.0,Finished Airing,Spring 2013,"Production I.G, Dentsu, Mainichi Broadcasting ...",Wit Studio,"Action, Drama",Shounen,R - 17+ (violence & profanity),8.531
1,1535,Death Note,"Brutal murders, petty thefts, and senseless vi...",TV,37.0,Finished Airing,Fall 2006,"VAP, Konami, Ashi Productions, Nippon Televisi...",Madhouse,"Supernatural, Suspense",Shounen,R - 17+ (violence & profanity),8.621
2,5114,Fullmetal Alchemist Brotherhood,After a horrific alchemy experiment goes wrong...,TV,64.0,Finished Airing,Spring 2009,"Aniplex, Square Enix, Mainichi Broadcasting Sy...",Bones,"Action, Adventure, Drama, Fantasy",Shounen,R - 17+ (violence & profanity),9.131

In [84]:
df.isna().sum()

ID              0
English         0
Synopsis        0
Type            0
Episodes        0
Status          0
Premiered       0
Producers       0
Studios         0
Genres          0
Demographics    0
Rating          0
Score           0
dtype: int64

THE LEFTED COLUMNS WITH WHICH WE ARE LEFT

In [85]:
df.columns

Index(['ID', 'English', 'Synopsis', 'Type', 'Episodes', 'Status', 'Premiered',
       'Producers', 'Studios', 'Genres', 'Demographics', 'Rating', 'Score'],
      dtype='object')

USE THE SIMPLEIMPUTER FOR FILLING ALL THE NAN VALUES IN EPISODES AND SCORE TO GET A BIAS AND ACCURATE RECOMMENDATION

In [86]:
ct=ColumnTransformer(transformers=[("tf1",SimpleImputer(strategy='median'),['Episodes','Score'])],remainder='passthrough')
df=pd.DataFrame(ct.fit_transform(df),columns=['Episodes','Score','ID', 'English', 'Synopsis', 'Type',  'Status', 'Premiered',
       'Producers', 'Studios', 'Genres', 'Demographics', 'Rating'
       ],)
df.head(3)

,Episodes,Score,ID,English,Synopsis,Type,Status,Premiered,Producers,Studios,Genres,Demographics,Rating
0,25.0,8.531,16498,Attack on Titan,"Centuries ago, mankind was slaughtered to near...",TV,Finished Airing,Spring 2013,"Production I.G, Dentsu, Mainichi Broadcasting ...",Wit Studio,"Action, Drama",Shounen,R - 17+ (violence & profanity)
1,37.0,8.621,1535,Death Note,"Brutal murders, petty thefts, and senseless vi...",TV,Finished Airing,Fall 2006,"VAP, Konami, Ashi Productions, Nippon Televisi...",Madhouse,"Supernatural, Suspense",Shounen,R - 17+ (violence & profanity)
2,64.0,9.131,5114,Fullmetal Alchemist Brotherhood,After a horrific alchemy experiment goes wrong...,TV,Finished Airing,Spring 2009,"Aniplex, Square Enix, Mainichi Broadcasting Sy...",Bones,"Action, Adventure, Drama, Fantasy",Shounen,R - 17+ (violence & profanity)

In [87]:
df.isnull().sum()

Episodes        0
Score           0
ID              0
English         0
Synopsis        0
Type            0
Status          0
Premiered       0
Producers       0
Studios         0
Genres          0
Demographics    0
Rating          0
dtype: int64

HERE WE CONVERT THE DATATYPE OF THE EPISODES AND SCORES FROM FLOAT TO STRING SO THAT WE CAN DO OPEARTION FURTHER..

In [88]:
df['Episodes']=df['Episodes'].astype(str)
df['Score']=df['Score'].astype(str)
df['Rating']=df['Rating'].astype(str)
df['Demographics']=df['Demographics'].tolist()
def c(x):
    l=[]
    for i in x.split(' '):
        l.append(f"{i}")
    return l
def ch(x):
    l=[]
    for i in x.split(' '):
        l.append(f"{i}")
    return l  
def pri(x):
    l=[]
    for i in x.split(' '):
        l.append(f" {i} ")
    return l    
def tpe(x):
    l=[]
    for i in x.split(' '):
        l.append(f" {i}")
    return l 
def st(x):
    l=[]
    for i in x.split(' '):
        l.append(f" {i}")
    return l 
def de(x):
    l=[]
    for i in x.split(' '):
        l.append(f" {i}")
    return l
def std(x):
    l=[]
    for i in x.split(','):
        l.append(f"{i}")
    return l 
def gen(x):
    l=[]
    for i in x.split(','):
        l.append(f" {i}")
      
    return l
def rat(x):
    l=[]
    for i in x.split(','):
        l.append(f" {i}")
    return l 
def prod(x):
    l=[]
    for i in x.split(','):
        l.append(i)
    return l
def change(x):
    l=[]
    for i in x.split(','):
        l.append(i)
    return l

APPLY ALL THE CHANGES OR OPERATION NEEDED FOR MAKIN THESE THING IN WORK

In [89]:
df['Synopsis']=df['Synopsis'].apply(change)
df['Type']=df['Type'].apply(tpe)
df['Status']=df['Status'].apply(st)
df['Premiered']=df['Premiered'].apply(pri)
df['Studios']=df['Studios'].apply(std)
df['Genres']=df['Genres'].apply(gen)
df['Rating']=df['Rating'].apply(rat).tolist()
df['Producers']=df['Producers'].apply(prod)
df['Demographics']=df['Demographics'].apply(de)
df['Episodes']=df['Episodes'].apply(ch)
df['Score']=df['Score'].apply(c)

SLICE THE SYNOPSIS AND ALSO THE PRODUCERS NAME TO..

In [90]:
df['Synopsis']=df['Synopsis'].apply(lambda x: x[:3])
df.head(3)

,Episodes,Score,ID,English,Synopsis,Type,Status,Premiered,Producers,Studios,Genres,Demographics,Rating
0,[25.0],[8.531],16498,Attack on Titan,"[Centuries ago, mankind was slaughtered to ne...",[ TV],"[ Finished, Airing]","[ Spring , 2013 ]","[Production I.G, Dentsu, Mainichi Broadcasti...",[Wit Studio],"[ Action, Drama]",[ Shounen],[ R - 17+ (violence & profanity)]
1,[37.0],[8.621],1535,Death Note,"[Brutal murders, petty thefts, and senseless...",[ TV],"[ Finished, Airing]","[ Fall , 2006 ]","[VAP, Konami, Ashi Productions, Nippon Tele...",[Madhouse],"[ Supernatural, Suspense]",[ Shounen],[ R - 17+ (violence & profanity)]
2,[64.0],[9.131],5114,Fullmetal Alchemist Brotherhood,[After a horrific alchemy experiment goes wron...,[ TV],"[ Finished, Airing]","[ Spring , 2009 ]","[Aniplex, Square Enix, Mainichi Broadcasting...",[Bones],"[ Action, Adventure, Drama, Fantasy]",[ Shounen],[ R - 17+ (violence & profanity)]

In [91]:

df['Producers']=df['Producers'].apply(lambda x: x[:2])

In [92]:
df.head(3)

,Episodes,Score,ID,English,Synopsis,Type,Status,Premiered,Producers,Studios,Genres,Demographics,Rating
0,[25.0],[8.531],16498,Attack on Titan,"[Centuries ago, mankind was slaughtered to ne...",[ TV],"[ Finished, Airing]","[ Spring , 2013 ]","[Production I.G, Dentsu]",[Wit Studio],"[ Action, Drama]",[ Shounen],[ R - 17+ (violence & profanity)]
1,[37.0],[8.621],1535,Death Note,"[Brutal murders, petty thefts, and senseless...",[ TV],"[ Finished, Airing]","[ Fall , 2006 ]","[VAP, Konami]",[Madhouse],"[ Supernatural, Suspense]",[ Shounen],[ R - 17+ (violence & profanity)]
2,[64.0],[9.131],5114,Fullmetal Alchemist Brotherhood,[After a horrific alchemy experiment goes wron...,[ TV],"[ Finished, Airing]","[ Spring , 2009 ]","[Aniplex, Square Enix]",[Bones],"[ Action, Adventure, Drama, Fantasy]",[ Shounen],[ R - 17+ (violence & profanity)]

In [93]:
df.head(3)

,Episodes,Score,ID,English,Synopsis,Type,Status,Premiered,Producers,Studios,Genres,Demographics,Rating
0,[25.0],[8.531],16498,Attack on Titan,"[Centuries ago, mankind was slaughtered to ne...",[ TV],"[ Finished, Airing]","[ Spring , 2013 ]","[Production I.G, Dentsu]",[Wit Studio],"[ Action, Drama]",[ Shounen],[ R - 17+ (violence & profanity)]
1,[37.0],[8.621],1535,Death Note,"[Brutal murders, petty thefts, and senseless...",[ TV],"[ Finished, Airing]","[ Fall , 2006 ]","[VAP, Konami]",[Madhouse],"[ Supernatural, Suspense]",[ Shounen],[ R - 17+ (violence & profanity)]
2,[64.0],[9.131],5114,Fullmetal Alchemist Brotherhood,[After a horrific alchemy experiment goes wron...,[ TV],"[ Finished, Airing]","[ Spring , 2009 ]","[Aniplex, Square Enix]",[Bones],"[ Action, Adventure, Drama, Fantasy]",[ Shounen],[ R - 17+ (violence & profanity)]

In [94]:
df.head(1)['Producers'].values

array([list(['Production I.G', ' Dentsu'])], dtype=object)

In [95]:
df['Synopsis']=df['Synopsis'].apply(lambda x:[i.replace(",",'') for i in x] )
df['Type']=df['Type'].apply(lambda x:[i.replace(" ",'') for i in x] )
df['Status']=df['Status'].apply(lambda x:[i.replace(" ",'') for i in x] )
df['Premiered']=df['Premiered'].apply(lambda x:[i.replace(" ",'') for i in x] )
df['Studios']=df['Studios'].apply(lambda x:[i.replace(" ",'') for i in x] )
df['Genres']=df['Genres'].apply(lambda x:[i.replace(" ",'') for i in x] )
df['Rating']=df['Rating'].apply(lambda x:[i.replace(" ",'') for i in x] )
df['Producers']=df['Producers'].apply(lambda x:[i.replace(" ",'') for i in x] )

In [96]:
df.head(3)

,Episodes,Score,ID,English,Synopsis,Type,Status,Premiered,Producers,Studios,Genres,Demographics,Rating
0,[25.0],[8.531],16498,Attack on Titan,"[Centuries ago, mankind was slaughtered to ne...",[TV],"[Finished, Airing]","[Spring, 2013]","[ProductionI.G, Dentsu]",[WitStudio],"[Action, Drama]",[ Shounen],[R-17+(violence&profanity)]
1,[37.0],[8.621],1535,Death Note,"[Brutal murders, petty thefts, and senseless...",[TV],"[Finished, Airing]","[Fall, 2006]","[VAP, Konami]",[Madhouse],"[Supernatural, Suspense]",[ Shounen],[R-17+(violence&profanity)]
2,[64.0],[9.131],5114,Fullmetal Alchemist Brotherhood,[After a horrific alchemy experiment goes wron...,[TV],"[Finished, Airing]","[Spring, 2009]","[Aniplex, SquareEnix]",[Bones],"[Action, Adventure, Drama, Fantasy]",[ Shounen],[R-17+(violence&profanity)]

AFTER THAT AS ALL THE THINGS DONE I CONCATENATED ALL THE COLUMNS IN ONE  WHICH IS '''df[ABOUT]'''

In [97]:
df['About']=  df['Synopsis']+df['Genres'] + df['Premiered'] + df['Producers'] + df['Status'] + df['Studios'] + df['Type']+df['Episodes']+df['Score']+df['Demographics']+df['Rating']

In [98]:
df.drop(['Synopsis','Type','Status','Premiered','Producers','Studios','Genres','Demographics','Rating','Episodes','Score'],axis=1,inplace=True)

AFETR CONCATINATING HERE WHAT I GOT

In [99]:
df

,ID,English,About
0,16498,Attack on Titan,"[Centuries ago, mankind was slaughtered to ne..."
1,1535,Death Note,"[Brutal murders, petty thefts, and senseless..."
2,5114,Fullmetal Alchemist Brotherhood,[After a horrific alchemy experiment goes wron...
3,30276,One Punch Man,[The seemingly unimpressive Saitama has a rath...
4,11757,Sword Art Online,[Ever since the release of the innovative Nerv...
...,...,...,...
13025,41763,O Light,"[Unknown, Unknown, Unknown, Unknown, Finished,..."
13026,51893,Unknown,[Animated music video for the song Mr. by YOAS...
13027,41308,Unknown,[Greenlights Serenade is an original song by O...
13028,51573,Unknown,"[Music video for the song Heart Beat by AZKi.,..."
13029,52454,Unknown,"[Unknown, Unknown, Unknown, Unknown, Finished,..."

In [100]:
df = df[df['English'] != 'Unknown']

In [101]:
df.shape

(6815, 3)

In [102]:
df['About']=df['About'].apply(lambda x: " ".join(x))

C:\Users\Anurag\AppData\Local\Temp\ipykernel_11240\3468826981.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['About']=df['About'].apply(lambda x: " ".join(x))

In [103]:
df.head(1)['About'].values

array(['Centuries ago  mankind was slaughtered to near extinction by monstrous humanoid creatures called Titans  forcing humans to hide in fear behind enormous concentric walls. What makes these giants truly terrifying is that their taste for human flesh is not born out of hunger but what appears to be out of pleasure. To ensure their survival Action Drama Spring 2013 ProductionI.G Dentsu Finished Airing WitStudio TV 25.0 8.531  Shounen R-17+(violence&profanity)'],
      dtype=object)

TEXT VECTORIZATION .HERE AFTER APPLYING THE BAGS OF WORD METHOD I USE THE VECTORIZATION TECHNIQUE

In [104]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [105]:
vectors=cv.fit_transform(df['About']).toarray()

In [106]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [107]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

I USED THE COSINE SIMILARITY TO SEE THE SIMILARITY AMONG THE WORDS PRESENT IN MY ABOUT COLUMN DATA'S

In [108]:
from sklearn.metrics.pairwise import cosine_similarity

In [109]:
sim=cosine_similarity(vectors)

In [110]:
sim[0]

array([1.        , 0.28957025, 0.27179142, ..., 0.04652421, 0.05073463,
       0.04706208])

AFTER DOING THE VECTORIZATION YOU CAN SE THE ID NO. AND THE SIMILARIY PROPORTION OF THOSE ANIME WHICH IS SIMILAR TO THE FIRST ONE ..

In [111]:
sorted(list(enumerate(sim[0])),reverse=True,key=lambda x:x[1])[1:6]

[(11, 0.47513109673319887),
 (17, 0.443394451313706),
 (1500, 0.43643578047198484),
 (1545, 0.4116646537108159),
 (1901, 0.37953605763829484)]

HERE AFTER DOING THE ALL THING THE THE SIMILAR ANIME ACCODRING TO THE SEARCH ONE IS

In [112]:
def recomnd(anime):
    ani_index=df[df['English']==anime].index[0]
    dis=sim[ani_index]
    ani_list=sorted(list(enumerate(dis)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in ani_list:
     print(df.iloc[i[0]].English)

In [113]:
df['English'].values

array(['Attack on Titan', 'Death Note', 'Fullmetal Alchemist Brotherhood',
       ..., 'Copy', 'Justice', 'O Light'], dtype=object)

EXAMPLE ARE HERE..

In [114]:
recomnd('Goblin Slayer')

Fate/stay night Heaven's Feel - I. Presage Flower
Fate/Zero Season 2
Fate/stay night Unlimited Blade Works
Fate/stay night [Unlimited Blade Works] Season 2
Fate/stay night Heaven's Feel - II. Lost Butterfly

In [115]:
recomnd('Your Name.')

Flavors of Youth
Twilight
Planzet
Lighter & Skirt
The Garden of Words

In [116]:
df.iloc[227].English

'Blue Exorcist Kyoto Saga'

In [117]:
df[df['English']=='One Punch Man'].index[0]

3

After that i dumped a the model by using joblib

In [118]:
import joblib as j

In [119]:
j.dump(df,open('anime_li','wb'))

In [120]:
df

,ID,English,About
0,16498,Attack on Titan,Centuries ago mankind was slaughtered to near...
1,1535,Death Note,Brutal murders petty thefts and senseless vi...
2,5114,Fullmetal Alchemist Brotherhood,After a horrific alchemy experiment goes wrong...
3,30276,One Punch Man,The seemingly unimpressive Saitama has a rathe...
4,11757,Sword Art Online,Ever since the release of the innovative Nerve...
...,...,...,...
13015,39296,For,Short animation directed by Takashi Ohashi fe...
13021,38794,Summer Rich,Music video for Summer Rich (feat. Hitomitoi) ...
13022,38811,Copy,Music video for the song Copy by the band Kais...
13024,50007,Justice,The official music video for Seigi from the al...
13025,41763,O Light,Unknown Unknown Unknown Unknown Finished Airin...

In [121]:
j.dump(sim,open('similarity','wb'))

IF YOU LIKED THIS KINDLY DO UPVOTE FOR ME ... THNK U